
.fachschaften{
    width: 60%;
    margin: 5% auto 0;
    display: grid;
    grid-template-rows: repeat(8,1fr);
    grid-template-columns: repeat(3,1fr);
    background-color: white;
}

.LogoFS {
    height: 130px;
    width: 237px;;
}

.Bild {
    text-align: center;
    margin: 5%;
   /* border: 1px solid black; */
}

.Link{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 22%;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 22px;
}


.Link:hover{
    text-decoration: underline;
}

#Architektur_Bild{
    grid-area: 1/1/2/2;
}

#BauIng_Bild {
    grid-area: 1/2/2/3; 
}

#Bio_Bild {
    grid-area: 1/3/2/4; 
}

#Chemie_Bild {
    grid-area: 3/1/4/2;  
}

#EIT_Bild {
    grid-area: 3/2/4/3;  
}

#Info_Bild {
    grid-area: 3/3/4/4;  
}

#MV_Bild {
    grid-area: 5/1/6/2;  
}

#Mathe_Bild {
    grid-area: 5/2/6/3;  
}

#Phy_Bild {
    grid-area: 5/3/6/4;  
}

#RU_Bild {
    grid-area: 7/1/8/2;  
}

#Sowi_Bild {
    grid-area: 7/2/8/3;  
}

#Wiwi_Bild {
    grid-area: 7/3/8/4;  
}