body {
    background: linear-gradient(135deg, #071124 0%, #08294a 50%, #001f3f 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Dezente Scrollbar */

/* Firefox */
.scrollable,
.content-scroll {
    scrollbar-width: thin;
    scrollbar-color: #6b7280 #1f2937;
}

:root:not(.dark) .scrollable,
:root:not(.dark) .content-scroll {
    scrollbar-color: #c5c7ca #e5e7eb;
}

/* Chrome / Edge / Safari */
.scrollable::-webkit-scrollbar,
.content-scroll::-webkit-scrollbar {
    width: 8px;
}

.scrollable::-webkit-scrollbar-track,
.content-scroll::-webkit-scrollbar-track {
    background: #1f2937;
}

.scrollable::-webkit-scrollbar-thumb,
.content-scroll::-webkit-scrollbar-thumb {
    background-color: #6b7280;
}

:root:not(.dark) .scrollable::-webkit-scrollbar-track,
:root:not(.dark) .content-scroll::-webkit-scrollbar-track {
    background: #e5e7eb;
}

:root:not(.dark) .scrollable::-webkit-scrollbar-thumb,
:root:not(.dark) .content-scroll::-webkit-scrollbar-thumb {
    background-color: #c5c7ca;
}

button {
    cursor: pointer;
}
