{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Anmelden" %}
{% endblock %}

{% block content_area_classes %}scrollable{% endblock %}

{% block content %}
<div class="page-shell">
    <div class="accent-card max-w-md">
        <h1 class="accent-card-title text-center mb-4">{% trans "Anmelden" %}</h1>
        <!-- Informationen zur Anmeldung -->
        {% include "partials/_messages.html" %}
        <!-- Login-Formular -->
        <form method="post" action="{% url 'login' %}" class="space-y-4">
            <!-- Keine Cross-Site-Request-Forgery-Angriffe -->
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <!-- Eingabefeld für Benutzername -->
            <div>
                <label for="username" class="form-label">{% trans "Benutzername:" %}</label>
                <input type="text" name="username" id="username" class="form-field" required>
            </div>
            <!-- Eingabefeld für Passwort -->
            <div>
                <label for="password" class="form-label">{% trans "Passwort:" %}</label>
                <input type="password" name="password" id="password" class="form-field" required>
            </div>
            <!-- Absenden-Button -->
            <button type="submit" class="w-full bg-[#042c58] dark:bg-blue-500 text-white rounded-md px-4 py-2 hover:bg-[#064694] dark:hover:bg-blue-400 cursor-pointer">{% trans "Anmelden" %}</button>
        </form>
        <!-- Link zur Registrierung für neue Nutzer -->
    <p class="text-sm text-center mt-4 text-gray-700 dark:text-gray-200">{% trans "Noch keinen Account?" %} <a href="{% url 'register' %}" class="text-[#042c58] dark:text-blue-400 hover:underline">{% trans "Jetzt registrieren" %}</a></p>
    </div>
</div>
{% endblock %}
