<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Präferenzen festlegen</title>
</head>
<body>
    <h1>Deine Präferenzen</h1>

    <form method="post">
        {% csrf_token %}

        <div>
            <label for="{{ form.standorte.id_for_label }}">{{ form.standorte.label }}</label>
            {{ form.standorte }}
            {{ form.standorte.errors }}
        </div>
        <div>
            <label for="{{ form.inhaltskategorien.id_for_label }}">{{ form.inhaltskategorien.label }}</label>
            {{ form.inhaltskategorien }}
            {{ form.inhaltskategorien.errors }}
        </div>
        <div>
            <label for="{{ form.quellen.id_for_label }}">{{ form.quellen.label }}</label>
            {{ form.quellen }}
            {{ form.quellen.errors }}
        </div>
        <div>
            <label for="{{ form.zielgruppen.id_for_label }}">{{ form.zielgruppen.label }}</label>
            {{ form.zielgruppen }}
            {{ form.zielgruppen.errors }}
        </div>

        <button type="submit">Speichern</button>
    </form>
</body>
</html>
