{% extends 'base.html' %}

{% block title %}
Registrieren
{% endblock %}

{% block head-optional %}
    <link rel="stylesheet" href="{% static 'css/input.css' %}">
{% endblock %}

{% block content %}
<div class="min-h-[calc(100vh-72px)] bg-gray-100 dark:bg-gray-900 flex items-center justify-center py-8">
    <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-md w-full max-w-md">
        <h1 class="text-lg font-semibold text-center mb-4 text-gray-800 dark:text-gray-100">Registrieren</h1>
    <form method="post" class="space-y-4">
            {% csrf_token %}
            {# Benutzername Input #}
            <div>
                <label for="{{ form.username.id_for_label }}" class="block text-sm font-medium text-gray-700 dark:text-gray-200">{{ form.username.label }}</label>
                {{ form.username }}
                {% if form.username.errors %}
                    <p class="text-sm text-red-500 dark:text-red-400 mt-1">{{ form.username.errors|join:", " }}</p>
                {% endif %}
            </div>
            {# Info-Text für Passwort-Anforderungen #}
            <div id="password-info" class="mb-2 text-sm text-gray-700 dark:text-gray-200 bg-gray-100 dark:bg-gray-800 border border-gray-300 dark:border-gray-700 rounded-md p-2">
                <b>Passwort:</b>
                <ul>
                    <li>Mindestens 8 Zeichen lang sein</li>
                    <li>Keine Ähnlichkeit zu persönlichen Informationen</li>
                    <li>Nicht nur Ziffern</li>
                    <li>Nicht allgemein üblich</li>
                </ul>
            </div>
            {# Alle anderen Felder außer Benutzername #}
            {% for field in form %}
                {% if field.name != 'username' %}
                <div>
                    <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700 dark:text-gray-200">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <p class="text-sm text-red-500 dark:text-red-400 mt-1">{{ field.errors|join:", " }}</p>
                    {% endif %}
                </div>
                {% endif %}
            {% endfor %}
            <button type="submit" class="w-full bg-[#042c58] dark:bg-blue-500 text-white rounded-md px-4 py-2 hover:bg-[#064694] dark:hover:bg-blue-400">Registrieren</button>
        </form>
    <p class="text-sm text-center mt-4 text-gray-700 dark:text-gray-200">Bereits registriert? <a href="{% url 'login' %}" class="text-[#042c58] dark:text-blue-400 hover:underline">Jetzt anmelden</a></p>
    </div>
</div>
{% endblock %}