<!DOCTYPE html>
<html lang="de">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fachschaften</title>
    <link rel="stylesheet" href="Menue.css">
    <link rel="stylesheet" href="Fachschaft.css">
    <link href='https://fonts.googleapis.com/css?family=Red Hat Text' rel='stylesheet'>
</head>

<body>

    <nav class="menu">
        <div class="menu-left">
         <img src="rptu.jpg" alt="Profil">
         </div>
         
         <div class="menu-center">
           <a href="LatestNews.html">Latest News</a>
           <a href="#">ForYou Page</a>
           <a href="Fachschaften.html">Fachschaften</a>
         </div>
     
         <div class="menu-right dropdown-container">
           <img src="Profil.png" alt="Profil" class="profile-icon">
           <div class="dropdown-menu">
             <a href="#">Anmeldedaten</a>
             <a href="#">Fragebogen</a>
             <a href="#">Datenschutz</a>
             <a href="#">Abmelden</a>
           </div>
         </div>
       </nav>
       <script src="Menue.js"></script>


    
    <div class="fachschaften">
   
        <a id="Architektur_Link" class="Link" href="https://www.architektur.uni-kl.de/fachschaft/">Architektur</a>
        <a id="Architektur_Bild" class="Bild" href="https://www.architektur.uni-kl.de/fachschaft/"><img class="LogoFS" src="FS_Architektur.jpg" alt="Logo der Fachschaft Architektur" /> </a>
        
        <a id="BauIng_Link" class="Link" href="https://bauing.rptu.de/fachschaft">Bauingenieurwesen</a>
        <a id="BauIng_Bild" class="Bild" href="https://bauing.rptu.de/fachschaft"><img class="LogoFS" src="FS_BauIng.png" alt="Logo der Fachschaft Bauingenieurwesen" /> </a>
        
        <a id="Bio_Link" class="Link" href="https://bio.rptu.de/fachschaft">Biologie</a>
        <a id="Bio_Bild" class="Bild" href="https://bio.rptu.de/fachschaft"><img class="LogoFS" src="FS_Bio.jpg" alt="Logo der Fachschaft Biologie" /> </a>
        
        
        <a id="Chemie_Link" class="Link" href="https://chem.rptu.de/fachschaft">Chemie</a>
        <a id="Chemie_Bild" class="Bild" href="https://chem.rptu.de/fachschaft"><img class="LogoFS" src="FS_Chemie.jpg" alt="Logo der Fachschaft Chemie" /> </a>
        
        
        <a id="EIT_Link" class="Link" href="http://www.fs.eit.uni-kl.de/">Elektro- & Informationstechnik</a>
        <a id="EIT_Bild" class="Bild" href="http://www.fs.eit.uni-kl.de/"><img class="LogoFS" src="FS_EIT.jpg" alt="Logo der Fachschaft Elektro- & Informationstechnik" /> </a>
       
       
        <a id="Info_Link" class="Link" href="http://www.fachschaft.informatik.uni-kl.de/">Informatik </a>
        <a id="Info_Bild" class="Bild" href="http://www.fachschaft.informatik.uni-kl.de/"><img class="LogoFS" src="FS_Info.jpg" alt="Logo der Fachschaft Informatik" /> </a>
        
        <a id="MV_Link" class="Link" href="http://www.fs.mv.uni-kl.de/">Maschinenbau & Verfahrenstechnik</a>
        <a id="MV_Bild" class="Bild" href="http://www.fs.mv.uni-kl.de/"><img class="LogoFS" src="FS_MV.jpg" alt="Logo der Fachschaft Maschinenbau & Verfahrenstechnik" /> </a>
        
        <a id="Mathe_Link" class="Link" href="http://fachschaft.mathematik.uni-kl.de/">Mathematik</a>
        <a id="Mathe_Bild" class="Bild" href="http://fachschaft.mathematik.uni-kl.de/"><img class="LogoFS" src="FS_Mathe.jpg" alt="Logo der Fachschaft Mathematik" /> </a>
        
        <a id="Phy_Link" class="Link" href="http://fachschaft.physik.uni-kl.de/">Physik</a>
        <a id="Phy_Bild" class="Bild" href="http://fachschaft.physik.uni-kl.de/"><img class="LogoFS" src="FS_Phy.jpg" alt="Logo der Fachschaft Physik" /> </a>
        
        <a id="RU_Link" class="Link" href="https://ru.rptu.de/fachschaft-1/aktuelles">Raum- & Umweltplanung </a>
        <a id="RU_Bild" class="Bild" href="https://ru.rptu.de/fachschaft-1/aktuelles"><img class="LogoFS" src="FS_RU.jpg" alt="Logo der Fachschaft Raum- & Umweltplanung" /> </a>
        
        <a id="Sowi_Link" class="Link" href="http://www.fs.sowi.uni-kl.de/">Sozialwissenschaften</a> 
        <a id="Sowi_Bild" class="Bild" href="http://www.fs.sowi.uni-kl.de/"><img class="LogoFS" src="FS_Sowi.jpg" alt="Logo der Fachschaft Sozialwissenschaften" /> </a>
        
        <a id="Wiwi_Link" class="Link" href="https://wiwi.rptu.de/fachschaft/aktuelles">Wirtschaftswissenschaften</a>  
        <a id="Wiwi_Bild" class="Bild" href="https://wiwi.rptu.de/fachschaft/aktuelles"><img class="LogoFS" src="FS_Wiwi.jpg" alt="Logo der Fachschaft Wirtschaftswissenschaften" /> </a>
    </div>
</body>
</html>
