{% load static %}
<!DOCTYPE html>
<html lang="de">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Red Hat Text' rel='stylesheet'>
    <title>
        {% block title %}
        No Title
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/Menue.css' %}">
    
</head>
<body>
    <nav class="menu">
        <div class="menu-left">
         <img src= "{% static 'images/rptu.jpg' %}" alt="Profil">
         </div>
         
         <div class="menu-center">
           <a href="LatestNews.html">Latest News</a>
           <a href="#">ForYou Page</a>
           <a href="Fachschaften.html">Fachschaften</a>
         </div>
     
         <div class="menu-right dropdown-container">
           <img src= "{% static 'images/Profil.png' %}" alt="Profil" class="profile-icon">
           <div class="dropdown-menu">
             <a href="#">Anmeldedaten</a>
             <a href="#">Fragebogen</a>
             <a href="#">Datenschutz</a>
             <a href="#">Abmelden</a>
           </div>
         </div>
       </nav>
       <script src= "{% static 'js/Menue.js' %}"> </script>
    <div id="wrapper">
        {% block content %}
        No content
        {% endblock %}
    </div>
</body>
</html>
