@import "tailwindcss";

/* Dark-Klasse auf Vorfahren als Dark-Mode-Schalter behandeln */
@custom-variant dark (&:where(.dark, .dark *));

/* Hier nach Tailwind-Klassen suchen */
@source "../templates/**/*.html";
@source "../news/**/*.py";

/* Formular-Felder */
@layer components {
    .page-grid {
		@apply min-h-screen grid grid-rows-[auto_1fr_auto] bg-white dark:bg-[#181818];
	}
    .page-shell {
		@apply min-h-[calc(100vh-72px)] bg-gray-100 dark:bg-gray-900 flex items-center justify-center py-15;
	}
    .accent-card-title {
		@apply text-2xl md:text-3xl font-semibold text-gray-800 dark:text-gray-100;
	}
    .accent-card {
		@apply bg-white dark:bg-gray-800 text-gray-900 dark:text-gray-100 border border-gray-200 dark:border-gray-700 rounded-lg shadow-md w-full p-6;
	}
	.form-label {
		@apply block text-sm font-medium text-gray-700 dark:text-gray-200 mb-2;
	}
	.form-field {
		@apply bg-gray-50 dark:bg-gray-700 border border-gray-200 dark:border-gray-600 rounded-lg shadow-md w-full p-3;
	}
	.status-card {
		@apply bg-gray-50 dark:bg-gray-700 border border-gray-200 dark:border-gray-600 rounded-lg shadow-md w-full p-4;
	}
}
